<form action="/users/login" method="post">
  <fieldset>
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" value="login">
  </fieldset>
</form>
